<div data-page="signup-page">
  <div class="card main-card">
    <div class="card-body">
      <h5 class="card-title" data-title="main">{{ tr 'Sign Up' }}</h5>
      <form method="post" class="mb-3">
        <div class="mb-3">
          <label 
            for="name" 
            class="form-label"
            id="name-label"
          >
            {{ tr 'Name' }}*
          </label>
          <input 
            type="text" 
            name="name" 
            id="name" 
            class="form-control" 
            required
          >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email*</label>
          <input 
            type="email" 
            name="email" 
            id="email" 
            class="form-control" 
            required
          >
        </div>
        <div class="mb-3">
          <label 
            for="password" 
            class="form-label"
            id="password-label"
          >
            {{ tr 'Password' }}*
          </label>
          <input 
            type="password" 
            name="password" 
            id="password" 
            class="form-control" 
            required
          >
        </div>
        <div style="text-align: right;" class="mb-3">
          <a 
            class="btn btn-light" 
            href="{{ data.rootLink }}sign-in"
            data-button="sign-in"
          >
            {{ tr 'Sign In' }}
          </a>
        </div>
        <div style="text-align: right;">
          <button 
            type="submit" 
            class="btn btn-primary"
            data-button="sign-up"
          >
            {{ tr 'Sign Up' }}
          </button>
          <a 
            class="btn btn-secondary" 
            href="{{ data.rootLink }}"
            data-button="cancel"
          >
            {{ tr 'Cancel' }}
          </a>
        </div>
      </form>
      {{> auth-service-component data=data }}
    </div>
  </div>
</div>
